.photo-grid {
  display: grid;
  margin: 51px auto 0px auto;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  color: black;
  justify-content: center;
}

@media screen and (max-width: 907px) {
  .photo-grid {
    margin-top: 36px;
    padding-left: 19px;
    padding-right: 19px;
  }
}