.photo-grid {
  display: grid;
  margin: 51px auto 0px auto;
  max-width: 880px;
  grid-template-columns: repeat(auto-fill, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  color: black;
  justify-content: center;
}

@media screen and (max-width: 907px) {
  .photo-grid {
    margin-top: 36px;
  }
}
