.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.profile__image:hover {
  opacity: 0.2;
  /*background-image: url(../../../images/vectorProfile.svg);*/
}