.profile__edit-icon {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 47px;
    top: 47px;
    z-index: 1;
    background-image: url(../../../images/Vector_edit.svg);
    background-size: 26px 26px;
    background-repeat: no-repeat;
    opacity: 0;
}