.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 430px;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 907px) {
  .popup__content {
    max-width: 282px;
  }
}