.popup__input-error {
    padding-top: 5px;
    color: red;
    visibility: hidden;
    min-height: 37px;
    width: 358px;
    margin: 0px 0px 13px 36px;
}

@media screen and (max-width: 907px) {
    .popup__input-error {
        width: 235px;
        min-height: 55px;
    }
}