.header {
  display: flex;
  padding-top: 45px;
  max-width: 880px;
  min-height: 74px;
  margin: auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 907px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}