.logo {
  background-image: url(../../images/Vector.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 907px) {
  .logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
  }
}