.profile__description {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 907px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}