.photo-grid__like {
  display: flex;
  align-self: center;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  color: white;
}
.photo-grid__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
.photo-grid__like:active {
  color: black;
  opacity: 1;
}
