.popup__form-item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid;
  width: 358px;
  margin-bottom: 30px;
  border-color: #000;
  outline: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

@media screen and (max-width: 907px) {
  .popup__form-item {
    width: 238px;
  }
}
