.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  column-gap: 18px;
  row-gap: 6px;
  margin-left: 30px;
  margin-bottom: 5px;
}

@media screen and (max-width: 907px) {
  .profile__info {
    margin-bottom: 5px;
    margin-top: 23px;
    grid-template-columns: 189px 18px;
    column-gap: 10px;
    row-gap: 10px;
  }
}
